.Result {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 0;
}

.Result-title {
  position: absolute;
  top: 5vmin;
  font-size: 5vmin;
  font-weight: bolder;
}

.Result-query-latency {
  position: absolute;
  top: 11vmin;
  font-size: 4vmin;
}

.Result-query-image {
  position: absolute;
  top: calc(50% - 15vmin);
  left: calc(50% - 15vmin);
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  border: solid;
  border-color: rgb(145, 180, 245);
  border-width: 5px;
  z-index: 1;
}

.Result-neighbor-image {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  border: solid;
  border-color: rgb(145, 180, 245);
  border-width: 1px;
  transition: all 0.5s 0s ease;
  animation: floating 15s linear infinite;
}

.Result-neighbor-image:hover {
  width: 18vmin;
  height: 18vmin;
}

@keyframes floating {
  0% {
  }
  25% {
    transform: translateX(5vmin) translateY(5vmin);
  }
  50% {
    transform: translateY(10vmin);
  }
  75% {
    transform: translateX(-5vmin) translateY(5vmin);
  }
  100% {
  }
}

.reset-button {
  font-size: 3vmin;
  position: absolute;
  right: 5vmin;
  bottom: 5vmin;
  width: 10vmin;
  height: 10vmin;
  line-height: 10vmin;
  color: rgb(60, 133, 244);
  background-color: white;
  border-radius: 50%;
  cursor : pointer;
}
