.Result {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Result-title {
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
}

.Result-query-image {
  border-radius: 50%;
  border: solid;
  border-color: rgb(145, 180, 245);
  border-width: 5px;
}

.Result-neighbor-image {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  border: solid;
  border-color: rgb(145, 180, 245);
  border-width: 0.5vmin;
}

.reset-button {
  width: 10vmin;
  height: 10vmin;
  line-height: 10vmin;
  color: rgb(60, 133, 244);
  background-color: white;
  border-radius: 50%;
}
