.Selection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Selection-title {
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
}

.Selection-subtitle {
  font-size: calc(10px + 3vmin);
}

.Selection-images {
  display: flex;
  flex-direction: row;
}

.Selection-image {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  border: solid;
  border-color: rgb(145, 180, 245);
  border-width: 5px;
  margin: 5px;
  cursor : pointer;
}
